.about-object-text-section {

}

.about-object-text-section__inner {
  @include page-inner();
}

.about-object-text-section__title {
  @include heading-3();

  @media (min-width: $desktop-breakpoint) {
    font-size: 40px;
    line-height: 1.2em;
  }
}

.about-object-text-section__content {
  @media (min-width: $desktop-breakpoint) {
    width: 65.88%;
    margin-top: 32px;
  }
}
