.about-object-section {

}

.about-object-section__inner {
  @include page-inner();
}

.about-object-section__title {
  @include heading-3();
  margin-top: -88px;
}

.about-object-section__main {
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
}

.about-object-section__grid {
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    width: 74.26%;
  }
}
