.app-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
}

.app-buttons__link {
  margin-top: 10px;
}

.app-buttons__badge {
  width: 130px;
  display: block;
}