.blog-widgets-card {
  padding: 19px 26px 21px 30px;
  border-radius: $radius-medium;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
}

.blog-widgets-card--green {
  background: #d1eddc;
}

.blog-widgets-card--blue {
  background: #d7e8f4;
}

.blog-widgets-card--yellow {
  background: #fef1dc;
}

.blog-widgets-card__link {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: #343434;
  display: block;
  margin: 14px 0 0;
}

.blog-widgets-card__date {
  font-size: 10px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-family: $heading-font;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: auto;
}

.blog-widgets-card--green .blog-widgets-card__description,
.blog-widgets-card--green .blog-widgets-card__date {
  color: #749A83;
}

.blog-widgets-card--blue .blog-widgets-card__description,
.blog-widgets-card--blue .blog-widgets-card__date {
  color: #6F8DA3;
}

.blog-widgets-card--yellow .blog-widgets-card__description,
.blog-widgets-card--yellow .blog-widgets-card__date {
  color: #AF966E;
}
