.breadcrumbs {
  @include page-inner();
  display: flex;
  list-style: none;
  font-size: 12px;
  color: $color-gray;
  margin: 30px 0 0;
}

.breadcrumbs__item {
  padding-right: 15px;
}

.breadcrumbs__link {
  color: $color-green;
  text-decoration: none;
  display: inline-block;
  margin-right: 11px;
}