.breadcrumbs {
  @include page-inner();
  display: none;
  list-style: none;
  font-size: 12px;
  color: $color-gray;
  margin: 30px 0 0;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }

  &--slideshow {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 31px;
    z-index: 2;
    margin: 0 0 -24px;
    width: 100%;
    box-sizing: border-box;
  }
}

.breadcrumbs__item {
  padding-right: 15px;
}

.breadcrumbs__link {
  color: $color-green;
  text-decoration: none;
  display: inline-block;
  margin-right: 11px;
}
