.tln-button {
  display: block;
  appearance: none;
  background: $color-green;
  color: $color-white;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-family: $heading-font;
  padding: 10px 15px 9px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.5em;

  &:hover {
    opacity: 0.7;
  }
}

.tln-button--dark {
  background: $color-green-dark;
}

.tln-button--white {
  background: $color-white;
  color: $color-green;
  border: 2px solid $color-green;
}

.tln-button--shadow {
  background: $color-white;
  color: $color-green;
  box-shadow: 0 2px 10px rgba(186, 189, 191, 0.42);
  font-size: 10px;
  padding: 9px 20px 6px;
  letter-spacing: 0.1em;
}

.tln-button--small {
  font-size: 10px;
  padding: 11px 15px 8px;
}

.tln-button--large {
  font-size: 16px;
  padding: 12px 15px;
}

.tln-button--ghost-small {
  font-size: 10px;
  background: none;
  color: $color-green;
  padding: 10px 15px 9px;
  letter-spacing: 0.1em;
}
