.callback-promo {
  @include page-inner();
}

.callback-promo--question {
  max-width: 1126px;
  margin-top: 40px;
}

.callback-promo--object {
  margin-top: 30px;
}

.callback-promo__inner {
  background: $color-green;
  border-radius: $radius-medium;
  color: $color-white;
  display: flex;
  padding: 28px 12px 37px;
  align-items: flex-start;
  min-height: 138px;
  box-sizing: border-box;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    padding: 28px 23px 40px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 19px 40px;
    flex-direction: row;
    align-items: center;

  }
}

.callback-promo__inner--question {
  padding: 52px 53px 36px 48px;
  align-items: flex-start;
}

.callback-promo__description {
  padding-left: 76px;
  position: relative;
  flex: 36.32% 0 0;
  box-sizing: border-box;
  margin-right: 6.88%;
  min-height: 54px;

  @media (min-width: $tablet-breakpoint) {
    padding-left: 102px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-left: 126px;
  }
}

.callback-promo__description--question {
  flex: 33.07% 0 0;
  box-sizing: content-box;
  padding-top: 6px;
}

.callback-promo__description::before {
  width: 60px;
  height: 60px;
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background: url('../img/call-center.png');
  background-size: 60px 60px;
  left: 0;
  top: -6px;

  @media (min-width: $tablet-breakpoint) {
    width: 80px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    background-size: 80px 80px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 100px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    background-size: 100px 100px;
  }
}

.callback-promo__description--question::before {
  top: -13px;
  margin-top: 0;
}


.callback-promo__title {
  font-family: $heading-font;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  line-height: 1.18em;

  @media (min-width: $tablet-breakpoint) {
    @include heading-4();
  }
}

.callback-promo__paragraph {
  margin: 6px 0 0;
  font-size: 10px;
  line-height: 1.4em;

  @media (min-width: $tablet-breakpoint) {
    font-size: inherit;
    line-height: inherit;
  }
}

.callback-promo__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;

  button {
    width: 100%;
    margin-top: 18px;

    @media (min-width: $tablet-breakpoint) {
      width: 27.5%;
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    margin-top: 26px;
  }

  @media (min-width: $desktop-breakpoint) {
    flex: 56.8% 0 0;
    max-width: 56.8%;
    flex-direction: row;
  }
}

.callback-promo__form--question {
  flex: 1;
  flex-wrap: wrap;

  button {
    margin-top: 24px;
    width: 62.2%;
  }
}

.callback-promo__input {
  margin-top: 18px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: 0;
    width: 35.76%;
    padding-right: 30px;
  }
}

.callback-promo--question .callback-promo__input {
  flex: 1;
}

.callback-promo--question .callback-promo__input + .callback-promo__input {
  padding: 0;
}


.callback-promo__textarea {
  margin-top: 24px;
}
