.cart-payment-method {
  margin: 58px 0 0;
}

.cart-payment-method__tabs {
  margin: 36px 0 0;
}

.cart-payment-method__title {
  font-family: $heading-font;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  margin: 55px 0 0;
}

.cart-payment-method__panel {
  margin: 8px 0 0;
  padding: 40px 28px 46px 40px;
  background: #fafafa;
}

.cart-payment-method__submit {
  margin-top: 36px;
}
