.docs-section {
  background: #F9F9F9;
  padding-top: 36px;
  padding-bottom: 51px;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 61px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 24px;
    padding-bottom: 57px;
  }
}

.docs-section__inner {
  @include page-inner();
}

.docs-section__title {
  @include heading-3();
  color: #343434;

  @media (min-width: $tablet-breakpoint) {
    font-size: 30px;
  }

  @media (min-width: $desktop-breakpoint) {
  }
}

