.features-grid {

}

.features-grid__row {


  @media (min-width: 768px) {
    display: flex;
    margin-top: 40px;
  }
}

.features-grid__item {
  position: relative;
  border-radius: $radius-medium;
  overflow: hidden;
  display: block;
  margin-top: 12px;
  height: 170px;

  &:hover img {
    transform: scale(1.1);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 3s ease-in-out;
  }

  @media (min-width: 768px) {
    height: auto;
    margin-top: 0;
  }
}

.features-grid__item--medium {

  @media (min-width: 768px) {
    width: 50%;
    margin-left: 40px;
  }
}

.features-grid__item--medium:first-child {
  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.features-grid__item--narrow {
  @media (min-width: 768px) {
    width: 30.69%;
  }
}

.features-grid__group {
  @media (min-width: 768px) {
    width: 65.34%;
    margin-left: 40px;
  }
}

.features-grid__group > .features-grid__item {
  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.features-grid__group > .features-grid__item:first-child {
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.features-grid__label {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 1;
}

.features-grid__title {
  @include heading-4();
  font-size: 24px;
  color: $color-white;
  margin: 0;
}

.features-grid__description {
  font-size: 15px;
  font-weight: 500;
  color: $color-white;
  margin: 9px 0 0;
}
