.feature-card {
  @include page-inner();
}

.feature-card__row {
  display: flex;
  margin-top: 40px;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.feature-card__row:nth-child(even) {
  @media (min-width: $tablet-breakpoint) {
    flex-direction: row-reverse;
  }
}

.feature-card__title {
  @include heading-3();
  word-break: break-word;

  @media (min-width: $tablet-breakpoint) {
    padding-left: 30px;
    font-size: 30px;
  }
}

.feature-card__item-info {

  @media (min-width: $tablet-breakpoint) {
    flex: 0 0 32.35%;
  }
}

.feature-card__item-image {
  margin-top: 25px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: 0;
    flex: 0 0 65.66%;
  }
}

.feature-card__item-img {
  display: block;
  width: 100%;
  border-radius: $radius-medium;
  max-width: 100%;
  height: auto !important;
}

