.flat-selector-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flat-selector-grid__item {
  flex: 0 0 33.33%;
  text-align: center;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  outline: 1px solid transparentize($color-green-hover, 1);
  transition: outline-color 0.1s ease-in-out;

  @media (min-width: $desktop-breakpoint) {
    font-size: 16px;
  }
}

.flat-selector-grid__item:hover {
  outline: 1px solid $color-green-hover;
}

.flat-selector-grid__image {
  margin: 0 auto;
  display: block;
}

