.flat-results-grid {
  display: flex;
  padding: 0;
  margin: 11px 0 0;
  list-style: none;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin: 16px 0 0;

  }

  @media (min-width: $desktop-breakpoint) {
  }
}

.flat-results-grid__item {
  width: 100%;
  margin-top: 10px;

  @media (min-width: $tablet-breakpoint) {
    width: 48.51%;
    margin-top: 20px;
    margin-left: 2.97%;

    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }

  //@media (min-width: $desktop-breakpoint) {
  //  width: 30.69%;
  //  margin-top: 40px;
  //  margin-left: 3.965%;
  //}
}

.flat-results-grid__item:nth-child(3n+1) {
  //margin-left: 0;
}
