.flat-types-grid {
  @include page-inner();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flat-types-grid__item {
  flex: 22.14% 0 0;
  min-width: 22.14%;
  margin-top: 40px;
}

.flat-types-grid__title {
  @include heading-3();
}