.flat-results-grid {
  display: flex;
  padding: 0;
  margin: 11px 0 0;
  list-style: none;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 16px 0 0;

  }

  @media (min-width: $desktop-breakpoint) {
  }
}

.flat-results-grid__item {
  width: 100%;
  margin-top: 10px;

  @media (min-width: $tablet-breakpoint) {
    width: 48.62%;
    margin-top: 20px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 30.69%;
    margin-top: 40px;
  }
}

.flat-results-grid__item:nth-child(3n+1) {
  margin-left: 0;
}
