.flat-selector-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flat-selector-list__item {
  border-top: 1px solid #e2e2e2;
  display: flex;
  position: relative;
}

.flat-selector-list__item--popular::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 51px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #E49922 url(../img/icon-fire.svg) center center no-repeat;
}

.flat-selector-list__fav {
  appearance: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 16px;
  background: url(../img/icon-like.svg) no-repeat;
  cursor: pointer;
}

.flat-selector-list__image {
  flex: 0 0 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;

  @media (min-width: $desktop-breakpoint) {
    flex: 0 0 145px;
  }
}

.flat-selector-list__img {
  display: block;
  max-width: 100%;
}

.flat-selector-list__title {
  color: $color-green;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: transparentize($color-green, 0.3);
  }
}

.flat-selector-list__meta {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;

  @media (min-width: $desktop-breakpoint) {
    font-size: 16px;
  }
}

.flat-selector-list__info {
  flex: 1;
  padding: 14px 15px 11px 0;
}

.flat-selector-list__meta {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
