.footer-menu-list {
  margin: 9px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu-list__item {
  width: 50%;
}

.footer-menu-list__item--full {
  width: 100%;
}
