.form-mobile {
  padding: 28px 13.3% 0;
}

.form-mobile__title {
  font-family: $heading-font;
  font-size: 24px;
  line-height: 1.2em;
  color: #343434;
  margin: 0;
  font-weight: 500;
}

.form-mobile__description {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

.form-mobile__description--success {
  margin: 26px 0 0;
}

.form-mobile__form {
  margin: 30px 0 0;
}

.form-mobile__form-row {
  margin: 20px 0 0;
}

.form-mobile__form-row:first-child {
  margin: 0;
}

.form-mobile__form-row--submit {
  margin: 30px 0 0;

  .button {
    width: 100%;
  }
}

.form-mobile__success {
  display: flex;
  margin: 32px 0 0;
}

.form-mobile__image {
  width: 100px;
}

.form-mobile__img {
  max-width: 100%;
  height: auto;
}

.form-mobile__success-info {
  margin-left: 18px;
  flex: 1;
}

.form-mobile__contacts {
  font-size: 14px;
  line-height: 1.35em;
  color: #979797;
  margin: 18px 0 0;
}
