.form-login {
  padding: 28px 20px 0 60px;
}

.form-login__title {
  font-family: $heading-font;
  font-size: 24px;
  line-height: 1.2em;
  color: #343434;
  margin: 0;
  font-weight: 500;
  max-width: 522px;

  a {
    text-decoration: none;
    color: $color-green;

    &:hover {
      color: transparentize($color-green, 0.3);
    }
  }
}

.form-login__description {
  font-size: 16px;
  line-height: 1.5em;
  margin: 21px 0 0;
}

.form-login__form {
  max-width: 334px;
  margin-top: 21px;
}

.form-login__form-row {
  margin: 20px 0 0;

  &:first-child {
    margin: 0;
  }
}

.form-login__form-row--consent {
  margin: 22px 0 0;
  position: relative;
}

.form-login__form-row--submit {
  margin-top: 36px;

  .tln-button {
    width: 100%;
  }
}

.form-login__custom-checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.form-login__checkbox {
  display: none;
}

.form-login__checkbox:checked + .form-login__custom-checkbox {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.5l4 3L10.5 1' stroke='%2345A56B' stroke-width='2'/%3E%3C/svg%3E");
}

.form-login__checkbox-label {
  font-size: 10px;
  line-height: 1.4em;
  padding-left: 22px;
  display: block;

  a {
    text-decoration: none;
    color: $color-green;

    &:hover {
      color: transparentize($color-green, 0.3);
    }
  }
}
