.images-list {
  display: flex;
  padding: 0;
  list-style: none;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.images-list__item {
  overflow: hidden;
  border-radius: $radius-medium;
  position: relative;

  @media (min-width: 768px) {
    margin-left: 40px;
  }
}

.images-list__item:nth-child(2n+1) {
  margin-left: 0;
}


.images-list__img {
  display: block;
}

.images-list__description {
  position: absolute;
  padding: 0 30px 20px;
  color: $color-white;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.images-list__description--black-text {
  color: $color-black;
}

.images-list__title {
  @include heading-4();
  font-size: 24px;
}

.images-list__label {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
