.infrastructure-section {
  padding-top: 36px;
  background: #ffffff;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 62px;
    background: #F9F9F9;
    padding-bottom: 60px;
  }
}

.infrastructure-section__inner {
  @include page-inner();

  @media (min-width: $tablet-breakpoint) {
  }
}

.infrastructure-section__column {
  @media (min-width: $tablet-breakpoint) {
    width: 100%;
    overflow: initial;
    margin: 23px 0 0;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 74.26%;
    margin: 30px 0 0;
  }
}

.infrastructure-section__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
  }
}

.infrastructure-section__show-map-btn {
  color: $color-green;
  appearance: none;
  border: none;
  padding: 0 0 0 24px;
  background: transparent url("../img/icon-map-pointer.svg") 0 center no-repeat;
  font-weight: 700;
  font-family: $heading-font;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  margin: 20px 0 0;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: $color-green-hover;
  }
}

.infrastructure-section__title {
  @include heading-3();
  color: #343434;

  @media (min-width: $tablet-breakpoint) {
    font-size: 30px;
    line-height: 1.2em;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 40px;
    line-height: 1.2em;
  }
}

.infrastructure-section__description {
  max-width: 880px;
}

.infrastructure-section__slider {
  margin: 30px 0 0;
  position: relative;

  &::after {
    content: "";
    width: 228px;
    background: linear-gradient(270deg, #F9F9F9 64.14%, rgba(249, 249, 249, 0) 100%);
    height: 100%;
    position: absolute;
    right: -110px;
    user-select: none;
    display: none;

    @media (min-width: $tablet-breakpoint) {
      display: block;
    }

    @media (min-width: $desktop-breakpoint) {
      right: 0;
    }
  }
}

.infrastructure-section__slide {
  padding-right: 20px;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.infrastructure-section__slide-inner {
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    height: 29%;
  }
}

.infrastructure-section__slide-title {
  position: absolute;
  left: 20px;
  bottom: 21px;
  font-size: 24px;
  font-weight: 500;
  color: $color-white;
  margin: 0;
  font-family: $heading-font;
}

.infrastructure-section__slide-distance {
  position: absolute;
  top: 12px;
  left: 20px;
  border-radius: 10px;
  padding: 0 8px 0 25px;
  background: $color-white url("../img/man-running.svg") 6px 4px no-repeat;
  line-height: 20px;
  font-size: 12px;
}
