.input-range {
  display: flex;
  margin-top: 7px;
}

.input-range__item {
  width: 46.15%;
  max-width: 120px;
  margin-left: 20px;
  position: relative;
}

.input-range__item::after {
  content: '–';
  position: absolute;
  width: 20px;
  text-align: center;
  left: -20px;
  top: 0;
  height: 34px;
  line-height: 34px;
}

.input-range__item:first-child {
  margin-left: 0;
}

.input-range__item:first-child::after {
  display: none;
}


input[type=range].input-range__range-slider {
  height: 16px;
  -webkit-appearance: none;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -8px;
  background: transparent;
  cursor: ew-resize;
}

input[type=range].input-range__range-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
}

input[type=range].input-range__range-slider:focus {
  outline: none;
}

input[type=range].input-range__range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #45A56B;
  border: none;
  box-shadow: none;
  margin-top: calc(1px * 0.5 - 16px * 0.5);
}

input[type=range].input-range__range-slider::-webkit-slider-runnable-track {
  height: 1px;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

input[type=range].input-range__range-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#45A56B,#45A56B) 0/var(--sx) 100% no-repeat, transparent;
}

/*mozilla*/
input[type=range].input-range__range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #45A56B;
  border: none;
  box-shadow: none;
}

input[type=range].input-range__range-slider::-moz-range-track {
  height: 1px;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

input[type=range].input-range__range-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#45A56B,#45A56B) 0/var(--sx) 100% no-repeat, transparent;
}

/*ms*/
input[type=range].input-range__range-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].input-range__range-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].input-range__range-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #45A56B;
  border: none;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].input-range__range-slider::-ms-track {
  height: 1px;
  border-radius: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].input-range__range-slider.slider-progress::-ms-fill-lower {
  height: 1px;
  border-radius: 0;
  margin: 0;
  background: #45A56B;
  border: none;
  border-right-width: 0;
}

