.tln-input {
  appearance: none;
  background: $color-white;
  height: 34px;
  border-radius: 12px;
  border: none;
  padding: 0 0 0 12px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.tln-input--textarea {
  height: 80px;
  resize: vertical;
  padding-top: 9px;
}

.tln-input::placeholder {
  color: #B2C4A9;
}

.tln-input--shadowed {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
}

.tln-input--shadowed::placeholder {
  color: #C4C4C4;
}

.tln-input--bordered {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e1e1e1;
}

.tln-input--bordered::placeholder {
  color: #B6B6B6;
}

.tln-input--light-border {
  border: 1px solid #D8D8D8;
}
