.object-card {
  border-radius: $radius-medium;
  box-shadow: $object-shadow;
  overflow: hidden;
}

.object-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.object-card__info {
  padding: 21px 30px 37px;
  min-height: 268px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    padding: 21px 16px 30px;
  }
}

.object-card__title-wrapper {
  display: flex;
  margin-bottom: 8px;
}

.object-card__radial-progress {
  margin-left: 25px;
}

.object-card__title {
  @include heading-4();
  color: $color-green;
  word-break: break-word;
}

.object-card__additional {
  margin-top: auto;
}

.object-card__deadline {
  font-size: 14px;
  font-weight: 500;
  color: #979797;
  margin: 0;
}

.object-card__deadline-value {
  color: #343434;
}

.object-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.object-card__price {
  color: #343434;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px 0 0;
}

.object-card__price-value {
  color: $color-green;
  white-space: nowrap;
}

.object-card__warn-message {
  font-size: 14px;
  font-weight: 500;
  color: #D95454;
  margin: 0;
}

.object-card__actions {
  display: flex;
  margin: 26px 0 0;
}

.object-card__action {
  flex: 1;
}
