.object-card {
  border-radius: $radius-medium;
  box-shadow: $object-shadow;
  overflow: hidden;
}

.object-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.object-card__info {
  padding: 12px 12px 17px;
  min-height: 244px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    padding: 20px 19px 30px 30px;
    min-height: 222px;
  }
}

.object-card__title-wrapper {
  display: flex;
  margin-bottom: 10px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 12px;
  }
}

.object-card__radial-progress {
  margin-left: 19px;

  @media (min-width: $tablet-breakpoint) {
    margin-top: -10px;
  }
}

.object-card__title {
  @include heading-4();
  color: $color-green;
  word-break: break-word;
  font-size: 16px;
  line-height: 1.2em;
  min-height: 38px;
}

.object-card__additional {
  margin-top: auto;
}

.object-card__deadline {
  font-size: 12px;
  font-weight: 500;
  color: #979797;
  margin: 0;

  @media (min-width: $tablet-breakpoint) {
    font-size: 14px;
  }
}

.object-card__dates {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  color: #979797;
  margin: 13px 0 0;

  @media (min-width: $tablet-breakpoint) {
    font-size: 14px;
  }
}

.object-card__deadline-value {
  color: #343434;
}

.object-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  margin-top: 3px;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    margin-top: 9px;
  }
}

.object-card__price {
  color: #343434;
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px 0 0;

  @media (min-width: $tablet-breakpoint) {
    font-size: 18px;
  }
}

.object-card__price-value {
  color: $color-green;
  white-space: nowrap;
}

.object-card__warn-message {
  font-size: 12px;
  font-weight: 500;
  color: #D95454;
  margin: 5px 0 0;


  @media (min-width: $tablet-breakpoint) {
    font-size: 14px;
  }
}

.object-card__actions {
  display: flex;
  margin: 17px 0 0;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    margin: 24px 0 0;
    flex-direction: row;
  }
}

.object-card__action {
  flex: 1;
  margin-top: 4px;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: $tablet-breakpoint) {
    margin-top: 0;
  }
}
