.object-title-mobile {
  font-family: $heading-font;
  font-size: 20px;
  line-height: 1.2em;
  color: #343434;
  padding-left: 12px;
  padding-right: 12px;
  margin: 10px 0 0;

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
}
