.other-real-estate-list {
  display: flex;
  margin: 29px -12px 0;
  padding: 0 0 30px;
  list-style: none;
  overflow-x: auto;

  @media (min-width: 768px) {
    margin: 29px 0 0;
    padding: 0;
    overflow: initial;
  }
}

.other-real-estate-list__item {
  width: calc(100% - 40px);
  margin-left: 15px;

  @media (min-width: 768px) {
    width: 33.33%;
    margin-left: 40px;
  }
}

.other-real-estate-list__item:nth-child(3n+1) {
  margin-left: 0;
}
