.page-footer {
  margin-top: 60px;
  @include page-inner();
}

.page-footer__inner--has-border {
  border-top: 1px solid #dfdfdf;
  padding-top: 40px;

}

.page-footer__menu {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.page-footer__column {
  @media (min-width: 768px) {
    padding-right: 10px;
  }
}


.page-footer__column--narrow {
  width: 50%;

  @media (min-width: 768px) {
    width: 16.415%;
  }
}

.page-footer__column--wide {
  width: 34.34%;
}

.page-footer__column--cities {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.page-footer__column--company,
.page-footer__column--partners {
  margin-top: 35px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.page-footer__column--contacts {
  order: -1;
  width: 100%;

  @media (min-width: 768px) {
    order: initial;
    width: 16.415%;
  }
}

.page-footer__column--apps {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}


.page-footer__address {
  font-size: 12px;
  font-weight: 500;
  margin: 13px 0 0;
  display: flex;

  @media (min-width: 768px) {
    display: block;
    margin: 0;
  }
}

.page-footer__address-label {
  font-size: 10px;
  font-weight: 500;
  color: #a1a1a1;
  display: block;
  margin-top: 0;
  margin-bottom: -2px;
  width: 90px;

  @media (min-width: 768px) {
    margin-top: 11px;
    width: auto;
  }
}

.page-footer__phone {
  font-size: 12px;
  font-weight: 500;
  color: $color-green;
  text-decoration: none;
  margin-left: 90px;
  margin-top: 3px;
  display: inline-block;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    display: block;
  }
}

.page-footer__hours {
  font-size: 10px;
  font-weight: 500;
  color: #a1a1a1;
  margin: -9px 0 0;
  display: inline-block;

  @media (min-width: 768px) {
    margin: -9px 0 0;
    display: block;
  }
}

.page-footer__cta-btn {
  margin-top: 10px;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 7px;
    width: auto;
  }
}

.page-footer__title {
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.16em;
  color: #343434;
  margin: 0;
}

.page-footer__copy {
  display: flex;
  margin-top: 61px;
  padding-bottom: 26px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.page-footer__copy-year {
  font-size: 12px;
  font-weight: 500;
  color: #979797;
  margin: 0;
}

.page-footer__legal-link-wrapper {
  margin-top: 10px;
}

.page-footer__legal-link-wrapper + .page-footer__legal-link-wrapper {
  margin-top: -7px;
}

.page-footer__copy-left {
  width: 100%;

  @media (min-width: 768px) {
    width: 34.34%;
  }
}

.page-footer__copy-text {
  width: 100%;
  font-size: 12px;
  line-height: 1.5em;
  color: #979797;

  @media (min-width: 768px) {
    width: 65.66%;
  }
}
