.personal-data-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $form-breakpoint) {
    flex-direction: row;
  }
}

.personal-data-form__column {
  margin: 28px 0 0 0;

  @media (min-width: $form-breakpoint) {
    margin: 28px 0 0 30px;
  }

  &:first-child {
    margin: 28px 0 0;

    @media (min-width: $form-breakpoint) {
      margin: 28px 0 0;
    }
  }
}
