.photos-grid-section {
  @include page-inner();
  margin-top: 48px;
}

.photos-grid-section__title {
  font-family: $heading-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  margin: 0;

  @media (min-width: $tablet-breakpoint) {
    font-size: 32px;
    line-height: 1.2em;
  }
}

