.photos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 37px 0 0;

  @media (min-width: $desktop-breakpoint) {
    width: 65.88%;
  }
}

.photos-grid__item {
  width: calc(50% - 8px);
}

.photos-grid__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: $radius-small;
}

.photos-grid__item:nth-child(3) {
  @media (min-width: $tablet-breakpoint) {
    width: 35.2%;
  }
}

.photos-grid__item:nth-child(4) {
  @media (min-width: $tablet-breakpoint) {
    width: 61.9%;
  }
}
