.progress-widget {
  box-shadow: $object-shadow;
  border-radius: $radius-medium;
  padding: 20px 16px 21px;

  @media (min-width: $tablet-breakpoint) {
    padding: 35px 30px 26px;
  }
}

.progress-widget__header {
  display: flex;
  justify-content: space-between;
}

.progress-widget__title {
  @include heading-4();
  font-size: 16px;
  line-height: 1.19em;
  color: #343434;

  @media (min-width: $tablet-breakpoint) {
    font-size: 24px;
    line-height: 1.2em;
  }
}

.progress-widget__link {
  color: $color-green;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: -3px;

  &:hover {
    color: transparentize($color-green, 0.3);
  }

  @media (min-width: $tablet-breakpoint) {
    margin-top: 4px;
  }
}

.progress-widget__dates {
  margin: 18px 0 0;
  display: flex;
  justify-content: space-between;
}

.progress-widget__date {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #343434;

}

.progress-widget__progress-wrapper {
  margin-top: 5px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-widget__header + .progress-widget__progress-wrapper {
  margin-top: 27px;
}

.progress-widget__progress {
  appearance: none;
  border: none;
  width: 100%;
  height: 7px;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.progress-widget__progress::-webkit-progress-bar {
  background: rgb(235, 239, 235);
  overflow: hidden;
}


.progress-widget__progress--actual,
.progress-widget__progress--actual::-webkit-progress-value, {
  color: #18A452;
  background: #18A452;
}

.progress-widget__progress--planned,
.progress-widget__progress--planned::-webkit-progress-value {
  color: #0D75BD;
  background: #0D75BD;
}

.progress-widget__status {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 9px;
}

.progress-widget__complete-label {
  margin-left: auto;
  color: #BDBDBD;
}

.progress-widget__status-actual {
  color: #18A452;
}

.progress-widget__status-planned {
  color: #0D75BD;
  margin-left: 52px;
}
