.promotions-list {
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  flex: 1;
  flex-wrap: wrap;


  @media (min-width: $tablet-breakpoint) {

  }

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    align-content: flex-start;
  }
}

.promotions-list__item {
  width: calc(50% - 8px);
  min-width: calc(50% - 8px);
  margin-left: 16px;
  padding-left: 0;
  box-sizing: border-box;
  border-radius: $radius-medium;
  margin-top: 17px;

  &:nth-child(2n+1) {
    margin-left: 0;
  }

  &:last-child {

  }

  @media (min-width: $tablet-breakpoint) {

    padding-left: 0;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.promotions-list__image {
  border-radius: $radius-medium;
  overflow: hidden;
  display: block;
  width: 100%;
  border: 1px solid #E8E8E8;

  @media (min-width: $tablet-breakpoint) {
    //width: auto;
  }
}
