.promotions-section {
  padding-top: 6px;
  padding-bottom: 48px;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 0;
    background: #ffffff;
  }
}

.promotions-section__inner {
  @include page-inner();
}

.promotions-section__title {
  @include heading-3();
  color: #343434;
  margin-top: -82px;

  @media (min-width: $tablet-breakpoint) {
    font-size: 30px;
    line-height: 1.2em;
    margin-top: -61px;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 40px;
    line-height: 1.2em;
    margin-top: -191px;
  }
}

.promotions-section__title-inner {
  @media (min-width: $desktop-breakpoint) {

  }
}

.promotions-section__list-wrapper {
  margin-top: 32px;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 65.88%;
  }
}

.promotions-section__large-item {

  img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
  }

  @media (min-width: $tablet-breakpoint) {
    width: 67%;
    margin-right: 24px;
  }
}
