.properties-list {
  padding: 0 0 30px;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin: 0;

  @media (min-width: $tablet-breakpoint) {
    overflow: initial;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.properties-list__item {
  width: calc(100% - 40px);
  min-width: calc(100% - 40px);
  margin-left: 16px;
  scroll-snap-align: start;
  padding-left: 12px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(2n+1) {
    @media (min-width: $tablet-breakpoint) {
      margin-left: 0;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-left: 2.74%;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    width: 48.63%;
    min-width: initial;
    margin-left: 2.74%;
    margin-top: 20px;
    padding-left: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    width: auto;
    flex: 1;
    min-width: initial;
    padding-left: 0;
  }

}

.properties-list__item:last-child {
  padding-right: 12px;

  @media (min-width: $tablet-breakpoint) {
    padding-right: 0;
  }
}


.properties-list__item:nth-child(3n+1) {

  @media (min-width: 1024px) {
    margin-left: 0;
  }
}
