.real-estate-type-card {
  border-radius: $radius-medium;
  box-shadow: $object-shadow;
  padding: 32px 33px 37px 99px;

  @media (min-width: $tablet-breakpoint) {
    height: 100%;
    box-sizing: border-box;
  }
}

.real-estate-type-card--commercial {
  background: url(../img/icon-other-realty-commercial.svg) 30px 30px no-repeat;
}

.real-estate-type-card--boxes {
  background: url(../img/icon-other-realty-boxes.svg) 36px 20px no-repeat;
}

.real-estate-type-card--parking {
  background: url(../img/icon-other-realty-parking.svg) 33px 37px no-repeat;
}

.real-estate-type-card__title {
  @include heading-4();
}

.real-estate-type-card__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #979797;
  margin: 17px 0 0;
}

.real-estate-type-card__price {
  margin: 17px 0 0;
  font-size: 18px;
  font-weight: 500;
  color: $color-black;
}

.real-estate-type-card__price-value {
  color: $color-green;
}
