.related-flats {

}

.related-flats__title {
  @include heading-4();
  line-height: 1.2em;

  @media (min-width: $tablet-breakpoint) {
    font-size: 24px;
  }
}

.related-flats__grid {
  display: flex;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}

.related-flats__grid-item {
  width: 100%;
  margin-top: 10px;

  @media (min-width: $tablet-breakpoint) {
    width: 48.62%;
    margin-top: 20px;
  }
}
