.slideshow {

}

.slideshow.peppermint figure {

}

.slideshow.peppermint.peppermint-active .peppermint-slides>* {
  padding: 0 12px;

  @media (min-width: $tablet-breakpoint) {
    padding: 0 20px;
  }
}

.slideshow.peppermint figure img {
  box-shadow: none;
}

.slideshow__image {
  border-radius: $radius-medium;
  overflow: hidden;
}

.slideshow.peppermint.peppermint-active {
  width: 95%;
  overflow: visible;

  @media (min-width: $tablet-breakpoint) {
    width: 100%;
    overflow: hidden;
  }
}

.slideshow .peppermint-slides {
  padding: 0;
}

.slideshow ul.peppermint-dots > li {
  padding: 5px;
  width: 8px;
  height: 4px;
  text-align: left;
  transition: width 0.3s ease-in-out;
}

.slideshow ul.peppermint-dots > li > span {
  width: 8px;
  height: 4px;
  background: $color-green;
  border-radius: 2px;
  display: block;
  margin: 0;
  position: static;
  transition: width 0.3s ease-in-out;
}

.slideshow ul.peppermint-dots>li.peppermint-active-dot {
  width: 38px;
}

.slideshow ul.peppermint-dots>li.peppermint-active-dot>span {
  margin: 0;
  width: 38px;
  height: 4px;
  border: none;
  background: $color-green;
}

.slideshow.peppermint.peppermint-active .peppermint-slides+ul.peppermint-dots {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 18px;
    display: block;
  }
}
