.sticky-nav-container {
  margin-top: 122px;
}

.sticky-nav-container__inner {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    @include page-inner();
    box-sizing: border-box;
    margin: 0 auto;
    position: sticky;
    top: 30px;
    justify-content: flex-end;
    z-index: 1;
    height: 130px;
    display: flex;
    pointer-events: none;
  }
}
