.sticky-nav-list {
  list-style: none;
  margin: 20px 0 0;
  width: 22.79%;
  box-sizing: border-box;
}

.sticky-nav-list .scroll-nav {
  padding: 24px 30px 24px 46px;
  background: $color-white;
  border-radius: $radius-medium;
  box-shadow: $object-shadow;
  list-style: none;
  margin: 0;
}

.sticky-nav-list .scroll-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sticky-nav-list .scroll-nav__item {
  transition: all 0.2s ease-in-out;
}

.sticky-nav-list .scroll-nav__item--active {
  transform: translateX(-16px);
}

.sticky-nav-list .scroll-nav__link {
  color: $color-green;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $heading-font;
  letter-spacing: 0.14em;
  display: block;
  padding: 9px 0;

  &:hover {
    color: transparentize($color-green, 0.3);
  }
}
