.tabbed-checkbox {
  display: inline-block;
}

.tabbed-checkbox__label {
  @include tab-btn();
}

.tabbed-checkbox__label--narrow {
  padding: 0;
  width: 41px;
  text-align: center;
}

.tabbed-checkbox__checkbox:checked + .tabbed-checkbox__label {
  @include tab-btn-active();
}

.tabbed-checkbox__checkbox:checked + .tabbed-checkbox__label--narrow {
  padding: 0;
  width: 41px;
  text-align: center;
}