.text-content {
  font-size: 12px;
  line-height: 1.5em;

  @media (min-width: $tablet-breakpoint) {
    font-size: 16px;
  }

  h3 {
    @include heading-3();
    font-size: 24px;
  }

  ul {
    padding-left: 20px;
    list-style: none;

    li {
      margin-top: 22px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -20px;
        top: 5px;
        border-radius: 50%;
        background: $color-green;
        width: 8px;
        height: 8px;

        @media (min-width: $tablet-breakpoint) {
          top: 10px;
        }
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  p {
    margin: 24px 0 0;
  }
}
