.unit-selector {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-left: -12px;
  margin-right: -12px;

  @media (min-width: $tablet-breakpoint) {
    margin: 0;
    border-radius: $radius-medium;

  }

  @media (min-width: $desktop-breakpoint) {
    max-width: 74.26%;
  }
}

.unit-selector__image {
  display: block;
  width: 100%;
}

.unit-selector__paths {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.unit-selector__unit-path:hover {
  opacity: 0.3;
}

.unit-selector__tooltip {
  border-radius: $radius-medium;
  background: $color-white;
  position: absolute;
  padding: 20px 20px 23px;
  width: 290px;
  box-sizing: border-box;
  display: none;

  @media (max-width: $tablet-breakpoint) {
    left: 50% !important;
    top: 50% !important;
    transform: translateX(-50%) translateY(-50%);
  }
}

.unit-selector__tooltip--visible {
  display: block;
}

.unit-selector__tooltip-title {
  font-size: 16px;
  margin: 3px 0 0;
  font-weight: 500;
}

.unit-selector__tooltip-description {
  font-size: 12px;
  line-height: 1.5em;
  color: #343434;
  margin: 7px 0 0;
}

.unit-selector__tooltip-flats-list {
  color: $color-green;
  font-weight: 500;
  margin: 23px 0 0;
  padding: 0;
}

.unit-selector__tooltip-flats-list-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0;
}

.unit-selector__tooltip-footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0;
}

.unit-selector__tooltip-available-flats {
  font-weight: 500;
}

.unit-selector__tooltip-close {
  background: url(../img/icon-close.svg) no-repeat;
  border: 0;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.4;
  }

  &:focus {
    outline: none;
    opacity: 0.4;
  }
}
