
$inner-width: 1300px;

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #A1A1A1;
$color-green: #45A56B;
$color-green-dark: #347D52;
$color-red: #D95454;

$color-bg-green: rgba(24, 164, 82, 0.2);
$color-bg-blue: rgba(13, 117, 189, 0.16);
$color-bg-yellow: rgba(249, 184, 81, 0.2);
$color-bg-gray: rgba(144, 157, 168, 0.2);

$object-shadow: 0px 5px 13px rgba(186, 189, 191, 0.42);

$radius-medium: 20px;

$heading-font: 'Stolzl', Helvetica Neue, Helvetica, Arial, sans-serif;

$tablet-breakpoint: 600px;
$desktop-breakpoint: 1200px;
